.cart-main-div {
  
  .cart-div {
    background-color: lightblue;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .product-item {
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    // align-items: center;
  }

  button {
    // padding: 10px;
    height: 30px;
    width: 40px;
    background-color: blue;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
    border: 0;
  }
}
