.item-main-div{
  background-color: rgb(202, 202, 202);
}

.item-div {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .product-item{
    height: auto;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

