.header-div {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(42, 42, 129);

  .header-button{
      height: 50px;
      width: 150px;
      border: 0;
      border-radius: 6px;
      color: #fff;
      background-color: black;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
  }

  span{
    padding: 10px;
    height: 10px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    font-size: 14px;
  }
}
